@charset "UTF-8";
/* LAS PARTITIONS LAS DIVIDÍ POR PAGES, PARA TENER UN
SCSS PARA CADA UNA Y TENERLO BIEN ORGANIZADO
(ESTE COMENTARIO ES SÓLO PARA ARCHIVOS SCSS, SI ESTÁS EN CSS
NO ES DE IMPORTANCIA)
*/
/*VARIABLES*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");
/* COMIENZA GLOBALES: AFECTAN A TODAS LAS PAGES*/
:root {
  --bs-body-font-family: "Space Grotesk", sans-serif !important;
  --bs-dark-rgb: $colorfondo !important;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif;
  background-color: rgb(0, 0, 0);
}
body .full-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 11;
}
body header .container-fluid .navbar-brand {
  margin-left: 2%;
}
body header .container-fluid .navbar-brand .whitelogo {
  margin: 20px;
}
body header .container-fluid .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.67)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
body header .container-fluid .navbar-collapse {
  width: 100%;
  padding: 2%;
}
body header .container-fluid .navbar-collapse .navbar-nav {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-right: auto;
}
body header .container-fluid .navbar-collapse .navbar-nav .nav-animation:after, body header .container-fluid .navbar-collapse .navbar-nav .nav-animation:before {
  content: "";
  width: 0%;
  display: block;
  height: 1px;
  transition: all 0.3s ease;
  margin-top: 2px;
  transition: all 300ms ease-in;
}
body header .container-fluid .navbar-collapse .navbar-nav .nav-animation:after {
  bottom: 25%;
  left: 0;
}
body header .container-fluid .navbar-collapse .navbar-nav .nav-animation:hover:after {
  width: 100%;
  height: 2px;
  bottom: 25%;
  background-color: white;
}
body header .container-fluid .navbar-collapse .navbar-nav .nav-link {
  margin-right: 25px;
}
body .highlight {
  font-weight: 400;
}

/* TIPOGRAFÍA */
h2, .h2 {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 1rem;
}

p, .p {
  font-size: 0.8rem;
  color: rgb(191, 188, 188);
}

p a {
  text-decoration: none;
  color: rgb(191, 188, 188);
}

@media (min-width: 0px) {
  .navbar.navbar-expand-md.white {
    background-color: rgb(0, 0, 0);
  }
  .nav-link {
    color: white;
  }
  .navbar-toggler {
    border: 1px solid rgba(255, 255, 255, 0.67);
  }
  .whitelogo {
    content: url("../assets/img/lowefilms1.png");
  }
}
@media (min-width: 768px) {
  .navbar-nav.nav-2 .nav-link:hover {
    color: rgb(0, 0, 0);
  }
  .navbar-nav .nav-link.active {
    color: var(--bs-navbar-active-color);
  }
  .navbar.navbar-expand-md.white {
    background-color: transparent;
  }
  .nav-link {
    color: var(--bs-nav-link-color);
  }
  .nav-link:hover {
    color: white;
  }
  .navbar-toggler-icon {
    background-image: var(--bs-navbar-toggler-icon-bg);
  }
  .navbar-collapse {
    background: transparent;
  }
  h3, .h3 {
    font-size: 1rem;
    font-weight: bold;
  }
  .media-descrip {
    font-size: 0.5rem;
  }
  h2, .h2 {
    font-size: 2rem;
  }
  h1, .h1 {
    font-size: 5rem;
  }
  h6, .h6 {
    font-size: 1rem;
  }
  p, .p {
    font-size: 0.9rem;
  }
  .whitelogo {
    content: url("../assets/img/logo.png");
    width: 70px;
  }
}
@media (min-width: 992px) {
  h3, .h3 {
    font-size: 2rem;
    font-weight: bold;
  }
  .media-descrip {
    font-size: 1rem;
  }
  h2, .h2 {
    font-size: 3rem;
  }
  h1, .h1 {
    font-size: 7rem;
  }
  h6, .h6 {
    font-size: 1.5rem;
  }
  p, .p {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 4rem;
  }
  h1, .h1 {
    font-size: 12rem;
  }
  h6, .h6 {
    font-size: 1.5rem;
  }
  h3, .h3 {
    font-size: 2rem;
    font-weight: bold;
  }
  .media-descrip {
    font-size: 1.5rem;
  }
  p, .p {
    font-size: 1.3rem;
  }
}
.centrado {
  display: flex;
  justify-content: center;
}

hr {
  opacity: 1;
  border-top: #fff 1px solid;
}

.text2 {
  font-weight: 700;
  margin: 3%;
  padding-left: 2%;
}

/* TERMINA GLOBALES */
/* COMIENZA INDEX */
.container-fluid .navbar-nav .nav-animation2:after, .container-fluid .navbar-nav .nav-animation2:before {
  content: "";
  width: 0%;
  display: block;
  height: 1px;
  transition: all 0.3s ease;
  margin-top: 2px;
  transition: all 300ms ease-in;
}
.container-fluid .navbar-nav .nav-animation2:after {
  bottom: 25%;
  left: 0;
}
.container-fluid .navbar-nav .nav-animation2:hover:after {
  width: 100%;
  height: 2px;
  bottom: 25%;
  color: rgb(0, 0, 0) !important;
  background-color: rgb(0, 0, 0);
}
.container-fluid.section2 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  --bs-gutter-x:0;
  z-index: -1;
  background-color: rgb(0, 0, 0) !important;
}
.container-fluid.section2 video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-fluid.section2 #video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Mansalva", cursive;
  background-size: 300% 300%;
}
.container-fluid.section3 {
  background-color: rgb(0, 0, 0);
  padding: 20px;
}
.container-fluid.section3 .col-md-4.col-xs-12 {
  border: 1px solid white;
  padding: 10px;
}
.container-fluid.section3 .col-md-4.col-xs-12 .media-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  /* Proporción de aspecto 16:9 */
}
.container-fluid.section3 .col-md-4.col-xs-12 .media-container .media-titulo {
  display: flex;
  position: absolute;
  z-index: 1;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.712);
  opacity: 0;
  transition: opacity 0.5s;
}
.container-fluid.section3 .col-md-4.col-xs-12 .media-container .media-titulo:hover {
  opacity: 1;
}
.container-fluid.section3 .col-md-4.col-xs-12 .media-container video, .container-fluid.section3 .col-md-4.col-xs-12 .media-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* SE TERMINA INDEX */
/* COMIENZA NOSOTROS */
.header2 {
  position: relative;
}
.header2 .navbar.bg-dark {
  background-color: rgb(0, 0, 0) !important;
}

.pagina2 {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  position: relative;
  z-index: 1;
  padding-top: 2% !important;
  padding-bottom: 2%;
  background-color: rgb(0, 0, 0);
}
.pagina2 .container-fluid .container h2, .pagina2 .container-fluid .container p {
  text-align: center;
}
.pagina2 .container-fluid .container-fluid.divisor {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}
.pagina2 .container-fluid .container-fluid.divisor .marquee-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagina2 .container-fluid .container-fluid.divisor .marquee-container .h3, .pagina2 .container-fluid .container-fluid.divisor .marquee-container h3 {
  font-size: 60px !important;
  color: #fff !important;
  margin: 5px !important;
}
.pagina2 .container-fluid .container-fluid.divisor .marquee-container .imgdiv {
  margin-left: 10px;
  margin-right: 10px;
  width: 70px;
  height: 70px;
}
.pagina2 .firma {
  text-align: center;
  font-family: "Mansalva", cursive;
  font-size: 160px;
  color: #ffffff;
  border: none;
}

.footer2 {
  position: relative;
  z-index: 2;
}

/* TERMINA NOSOTROS */
/* COMIENZA SERVICIOS */
.container-fluid.banner {
  position: relative;
  z-index: 1;
  --bs-gutter-x:none !important;
}
.container-fluid.banner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}
.container-fluid.servicios {
  background-color: rgb(0, 0, 0);
  padding-top: 2%;
  padding-bottom: 2%;
  padding: 2%;
}
.container-fluid.servicios .col-md-6.col-xs-12.collague {
  border: 1px solid white;
  padding: 10px;
}
.container-fluid.servicios .col-md-6.col-xs-12.collague .image-container {
  position: relative;
  overflow: hidden;
}
.container-fluid.servicios .col-md-6.col-xs-12.collague .image-container img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-fluid.servicios .col-md-6.col-xs-12.collague h2 {
  padding: 4%;
  padding-bottom: 0;
}
.container-fluid.servicios .col-md-6.col-xs-12.collague p {
  padding: 6%;
}

/* TERMINA SERVICIOS */
/* COMIENZA CONTACTO */
.container-fluid.contactar {
  background-color: black;
  padding: 3%;
}
.container-fluid.contactar .row.row-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid.contactar .row.row-container .col-md-6.col-xs-12.contacto p {
  margin: 3%;
  padding: 6%;
  margin-top: 0;
}
.container-fluid.contactar .row.row-container .col-md-6.col-xs-12.contacto .container-fluid.form {
  padding: 6%;
  width: 100%;
}
.container-fluid.contactar .row.row-container .col-md-6.col-xs-12.contacto .container-fluid.form .items-forms {
  padding: 3.8%;
}
.container-fluid.contactar .row.row-container .col-md-6.col-xs-12.contacto .container-fluid.form .items-forms .form-control {
  border: none !important;
  border-bottom: 1px solid #ffffff !important;
  padding-left: 0;
  padding: 3%;
  margin: 2%;
  border-radius: 0px !important;
  color: white !important;
  background-color: transparent !important;
}
.container-fluid.contactar .row.row-container .col-md-6.col-xs-12.contacto .container-fluid.form .items-forms .form-control:active, .container-fluid.contactar .row.row-container .col-md-6.col-xs-12.contacto .container-fluid.form .items-forms .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #ffffff;
}
.container-fluid.contactar .row.row-container .col-md-6.col-xs-12.contacto .container-fluid.form .items-forms input::-moz-placeholder, .container-fluid.contactar .row.row-container .col-md-6.col-xs-12.contacto .container-fluid.form .items-forms textarea::-moz-placeholder {
  color: rgb(255, 255, 255) !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.container-fluid.contactar .row.row-container .col-md-6.col-xs-12.contacto .container-fluid.form .items-forms input::placeholder, .container-fluid.contactar .row.row-container .col-md-6.col-xs-12.contacto .container-fluid.form .items-forms textarea::placeholder {
  color: rgb(255, 255, 255) !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

/* TERMINA CONTACTO */
/* COMIENZA LANZAMIENTOS */
.container-fluid.lanzamientos {
  background-color: rgb(0, 0, 0);
  padding: 3%;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}
.container-fluid.lanzamientos .video {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

/* TERMINA LANZAMIENTOS *//*# sourceMappingURL=styles.css.map */