@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Space Grotesk", sans-serif;
    background-color: black;
}

.navbar.navbar-expand-lg{
    background-color: transparent;
    position: fixed;
}
.navbar-nav{
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    margin-right: auto;
}

.section1{
    padding: 20px;
}

.whitelogo{
    margin: 20px;
    margin-right: 50px;
}

.nav-link{
    margin-right: 25px;
}

.container-fluid.section2{
    position: relative;
    height: 100%;
    width: 100%;
    --bs-gutter-x: 0;
    z-index: -1;
    background-color: black;
}
#background-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#video-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Mansalva', cursive;
    
}
.container-fluid.section3{
    background-color: black;
    padding: 20px;
}


.container-fluid .row .col-md{
    border: 1px solid white;
    padding: 10px;
  }
.col-md video, .col-md img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.text2{
    margin: 60px;
    padding-left: 40px;
}

h2, .h2{
    color: white !important;
    font-weight: 700;
    padding-left: 30px;
    text-transform: uppercase;
    font-family: "Space Grotesk", sans-serif !important;
}

h1, .h1 {
    font-size: 3rem!important;
  }

  @media (min-width: 768px) {
    h1, .h1 {
      font-size: 5rem !important;
    }
  }

  @media (min-width: 992px) {
    h1, .h1 {
      font-size: 7rem!important;
    }
  }

  @media (min-width: 1200px) {
    h1, .h1 {
      font-size: 10rem!important;
    }
  }

  h2, .h2 {
    font-size: 1.5rem!important;
  }

  @media (min-width: 768px) {
    h2, .h2 {
      font-size:  2rem!important;
    }
  }

  @media (min-width: 992px) {
    h2, .h2 {
      font-size: 3rem!important;
    }
  }

  @media (min-width: 1200px) {
    h2, .h2 {
        font-size: 4rem !important;;
    }
  }


.footer{
  background-color: black;
  padding-inline: 10%;
  padding-block: 40px;
  justify-content: center;
  font-family: "Space Grotesk", sans-serif !important;
}

.img1{
  width: 70px;
  height: 54px;
  padding-bottom: 15px;
}
p{
  color: white;
  padding-right: 15px;
}
h3{
  color: #ffffff !important;
}
.col.footer-item2 ,.col.footer-item3 ,.col.footer-item4{
  text-align: center;
}
.col.footer-item2 ul {
  list-style: none;
  padding-left: 30%;
}

.col.footer-item2 ul li {
  margin-bottom: 5px;
  text-align: left;
}

.col.footer-item2 ul li a {
  text-decoration: none;
  color: #ffffff;
}
.col.footer-item3 p{
  padding-left: 20px;
  padding-right: 20px;
}

.col.footer-item3 a {
  color: #ffffff;
  text-decoration: none;
}

.col.footer-item3 a:hover {
  text-decoration: underline;
}

