/* COMIENZA NOSOTROS */

.header2 {
  position: relative;

  .navbar.bg-dark {
    background-color: $colorfondo !important;
  }
  
}


.pagina2 {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  position: relative;
  z-index: 1;
  padding-top: 2% !important;
  padding-bottom: 2%;
  background-color: $colorfondo;

  .container-fluid{
    .container {
      h2, p {
        text-align: center;
      }
    }

    .container-fluid{
      &.divisor {
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        margin-top: 5% !important;
        margin-bottom: 5% !important;

        .marquee-container {
          display: flex;
          align-items: center;
          justify-content: center;

          .h3, h3 {
            font-size: 60px !important;
            color: #fff !important;
            margin: 5px !important;
          }

          .imgdiv {
            margin-left: 10px;
            margin-right: 10px;
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
  .firma {
    text-align: center;
    font-family: $texto;
    font-size: 160px;
    color: #ffffff;
    border: none;
  }
}

.footer2 {
  position: relative;
  z-index: 2;
}



/* TERMINA NOSOTROS */